/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/

body {
    font: 10px sans-serif;
    text-align: center;
    width: 960px;
}

#charts {
    padding: 10px 0;
}

#year-filter {
    width: 920px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.background.bar {
    fill: #ccc;
}

.foreground.bar {
    fill: steelblue;
}

.brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.dot {
    stroke: #000;
}

.d3-tip {
    line-height: 1.2;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}

.reset {
    font-size: 1em;
    color: rgb(114, 114, 114);
}

.title {
    font-size: 2em;
}

.total_count {
    font-size: 1.5em;
}