/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/

body {
    font: 10px sans-serif;
    text-align: center;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #111;
    margin: 1em 0;
    padding: 0;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

#body {
    position: relative;
    max-width: 960px;
    padding: 0 100px;
}

#body h1 {
    font-size: 6em;
    font-weight: 800;
    margin: 0;
}

#body h2 {
    font-size: 2em;
    font-weight: 300;
    margin: 0 0 2em 0;
}

#charts {
    padding: 10px 0;
}

#footer {
    position: relative;
    max-width: 960px;
    margin: 50px 100px;
    font-size: 1em;
    font-weight: 200;
}

#heightchart {
    max-width: 700px;
    fill: #fff;
}

#heightchart p {
    text-align: left;
}

#intro {
    text-align: left;
}

#intro p {
    max-width: 700px;
    margin: 1em 0;
}

#plots p {
    margin: 0em;
}

#lists {
    max-height: 250px;
}

#year-filter {
    width: 920px;
}

#weight-filter {
    width: 450px;
}

#height-filter {
    width: 450px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.background.bar {
    fill: #fff;
    stroke: steelblue;
}

.foreground.bar {
    stroke: steelblue;
    fill: rgba(70, 130, 180, 0.5);
}

.brush rect.extent {
    fill: steelblue;
    fill-opacity: .125;
}

.brush .resize path {
    fill: #eee;
    stroke: #666;
}

.chart {
    display: inline-block;
    height: 151px;
    margin-bottom: 20px;
}

.dot {
    fill: #fff;
}

.d3-tip {
    line-height: 1.2;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}

.list {
    display:inline-block;
    width: 225px;
    min-height: 250px;
    line-height: 1.5em;
    font-size: 1.25em;
}

.list .player {
    font-size: 1em;
    font-weight: 200;
    line-height: 1.5em;
    margin-bottom: 1px;
}

.list .player div {
    display:inline-block;
}

.list-title {
    font-size: 1.25em;
    font-weight: 400;
    padding-bottom: 0.5em;
}

.reset {
    font-size: 1em;
    color: rgb(114, 114, 114);
}

.title {
    font-size: 2em;
    padding-top: 1em;
    font-weight: 200;
}

.total_count {
    font-size: 1.5em;
}

.zoom-brush rect.extent {
    fill: #fff;
    stroke: #000;
}