/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/


/* Main */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-align: left;
    margin: 0 0 150px 100px;
    max-width: 1050px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #111;
    margin: 1em 0;
    padding: 0;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

#body {
    position: relative;
}

#body h1 {
    font-size: 6em;
    font-weight: 800;
    margin: 0;
}

#content {
    z-index: 1;
    padding-top: 125px;
    max-width: 650px;
}

#content h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 2em;
}

#intro {
    margin-top: 5em;
    text-align: left;
}

#intro p {
    margin: 1em 0;
}

#logo {
    position: fixed;
    width: 75%;
    z-index: 10;
    background: white;
    height: 125px;
}

#logo span {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#title h2 {
    margin-top: 0;
}

/* Height Bar Chart */

#heightchart {
    fill: #fff;
    text-align: left;
}

#heightchart svg {
    margin: 4em 0 0 10em;
}

#heightchart p {
    text-align: left;
}

#heightchart .hCharttitle {
    fill: #000;
    font-size: 1.5em;
    font-weight: 100;
}

#heightchart .hChartvalue {
    text-anchor: middle;
    font-size: 1.25em;
    font-weight: 100;
}

#heightchart .hChartlabel {
    text-anchor: middle;
    font-size: 1.25em;
    font-weight: 100;
    fill: #000;
}

/* Histogram */

#history {
    text-align: left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.histgraph {
    text-align: center;
}

.yearLabel {
    font-size: 2em;
}

.yearLabelTitle {
    font-size: 1.5em;
}

/* Average Line Graph */

.d3-tip {
    text-align: center;
    line-height: 1.2;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}