/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/


/* Main */
body {
    font-family: 'PT Sans', sans-serif;
    font-size: 10px;
    text-align: left;
    margin: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #111;
    margin: 1em 0;
    padding: 0;
}

p {
    font-size: 1.5em;
    font-weight: 200;
}

ul {
    font-size: 1.4em;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    position: relative;
    max-width: 1050px;
    margin: 0 0 100px 150px;
    padding-top: 20px;
}

#content {
    z-index: 1;
    padding: 75px 0 125px 0;
    max-width: 650px;
    margin-bottom: 5%;
}

#content h2 {
    font-size: 2em;
    font-weight: 300;
    margin-top: 2em;
}

#intro {
    margin-top: 3em;
    text-align: left;
}

#intro p {
    margin: 1em 0;
}

#title h2 {
    font-size: 4em;
    font-weight: 600;
    margin-top: 20px;
}

#plotlink a {
    text-decoration: underline;
}

#listname, #liststat, #listinfo {
    float: left;
    font-size: 1.3em;
    margin-top: 5px;
}

#listname {
    width: 25%;
}

#liststat {
    width: 15%;
}

#listinfo {
    width: 60%;
}


/* LOGO / HEADER */

header {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 70vw;
    z-index: 10;
    height: 75px;
    border-bottom: rgb(155, 117, 91) solid 2px;
    background: #fff;
    margin-left: 150px;
    min-width: 650px;
}

header span {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
}

header .logo .icon {
    width: 25px;
    height: 25px;
    fill: #000;
    margin:0;
}

.header-title {
    font-size: 2em;
    width: 65vw;
    min-width: 600px;
    text-align: left;
    float: left;
    color: #000;
}

/* BLOG LINKS / FOOTER */


/* BLOG LINKS / FOOTER */

footer {
    position: absolute;
    height: 50px;
    width: 70vw;
    margin-left: 150px;
    background: #fff;
}

#blog {
    font-size: 1.5em;
    text-align: right;
    color: rgb(0, 0, 0);
    border-top: rgb(155, 117, 91) solid 2px;
    padding: 10px 0 10px 0;
    min-width: 750px;
}

#blog a {
    color: #000 !important;
    text-decoration: underline;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Height Bar Chart */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#heightchart {
    fill: #fff;
    text-align: left;
}

#heightchart svg {
    margin: 4em 0 0 10em;
}

#heightchart p {
    text-align: left;
}

#heightchart .hCharttitle {
    fill: #000;
    font-size: 1.5em;
    font-weight: 100;
}

#heightchart .hChartvalue {
    text-anchor: middle;
    font-size: 1.25em;
    font-weight: 100;
}

#heightchart .hChartlabel {
    text-anchor: middle;
    font-size: 1.25em;
    font-weight: 100;
    fill: #000;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Histogram */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#history {
    text-align: left;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.histgraph {
    text-align: center;
}

.yearLabel {
    font-size: 2em;
}

.yearLabelTitle {
    font-size: 1.5em;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Average Line Graph */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.d3-tip {
    text-align: center;
    line-height: 1.2;
    padding: 8px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 1px;
}

.avgwlinechart {
    margin-top: 50px;
}

#avgwtitle {
    fill: #000;
    font-size: 1.5em;
    font-weight: 100;
}