/*  
    Copyright Abid Rahman 2018
    Filename: style.css
    The main stylesheet 
*/

body {
font: 10px sans-serif;
text-align: center;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.dot {
stroke: #000;
}

.d3-tip {
line-height: 1;
font-weight: bold;
padding: 12px;
background: rgba(0, 0, 0, 0.8);
color: #fff;
border-radius: 2px;
}

.title {
font-size: 2em;
}

.total_count {
font-size: 1.5em;
}